<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">{% if post.image.teaser %}<img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">
    {% else %}<img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
  {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %}
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: 160 }}</p>
<div id="pagination"> 
<div class="pagenavi"> 
<span class="page_number">第{{paginator.page}}页/共{{paginator.total_pages}}页</span> 
<a href="/">第一页</a> 
{% if paginator.previous_page %} 
{% if paginator.previous_page == 1 %} 
<a href="/" class="current"><<前一页</a> 
{% else %} 
<a href="/page{{paginator.previous_page}}"><<前一页</a> 
{% endif %} 
{% else %} 
<span><<前一页</span> 
{% endif %} 
{% for count in (2..paginator.total_pages) limit:8 %} 
{% if count == paginator.page %} 
<span class="current-page">{{count}}</span> 
{% else %} 
<a href="/page{{count}}">{{count}}</a> 
{% endif %} 
{% endfor %} 

{% if paginator.next_page %} 
<a href="/page{{paginator.next_page}}">后一页>></a> 
{% else %} 
<span>后一页>></span> 
{% endif %} 
<a href="/page{{paginator.total_pages}}">最后一页</a> 
</div> 
</div>
</article><!-- /.tile -->
